.main{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 58rem;
    padding: 1rem;
    justify-content: space-between;
}

.book{
    width: 18rem;

    margin-bottom: 1rem;

    box-shadow: inset 0 0 0 1px #b0b0b0,0 2px 8px rgba(0, 0, 0, 0.101);
    
    background-color: rgba(0,0,0, 70%);
    backdrop-filter: blur(5px);

    border-radius: 1rem;

    padding: 1.5rem;
}

.book h2{
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: -0.0225rem;
    font-weight: 350;
    background-color: transparent;
    width: 15rem;
    line-height: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}


.book p{
    color: #b0b0b0;
    font-weight: 225;
    font-size: 1rem;
    letter-spacing: -0.0225rem;
    line-height: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    height: auto;
    margin-bottom: 1rem;
}

.Buy{
    background: rgb(255,138,0);
    background: linear-gradient(90deg, rgba(255,138,0,1) 0%, rgba(255,175,19,1) 100%);
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    letter-spacing: -0.0225rem;
    font-weight: 350;
    background-color: transparent;
    width: 15rem;
    line-height: 1.2rem;
    padding: 0.5rem;
    margin-bottom: -1rem;
    border-radius: 2rem;
    margin-top: 100%;
}

.book img{
    border-radius: 0.5rem;
}