.main{
    display: flex;
    margin: auto;
    position: relative;
    max-width: 58rem;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}


.channel {
    border-radius: 3rem;
    box-shadow: inset 0 0 0 1px #b0b0b0,0 2px 8px rgba(0, 0, 0, 0.101);
    display: flex;
    
    padding: 1.5rem;
    margin-bottom: 0.5rem;
    width: 19rem;
    height: fit-content;

    color: white;

    background-color: rgba(0,0,0, 70%);
    backdrop-filter: blur(5px);
}

.channel h3{
    color: white;
    text-decoration: none;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: -0.0225rem;
    font-weight: 450;
    background-color: transparent;
    width: 12.5rem;
    height: 1.3rem;
    line-height: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.Link{
    text-decoration: none;
    color: red;
}

.Icon {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}

.Spacer{
    height: 0rem;
    width: 18.5rem;
}